<h1 align='center'>Hot Reads</h1>
<div align='center'>
  <iframe src="https://giphy.com/embed/eo9930rU7tZAc" width="480" height="203" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<div align='center'>
  <ol align='center' class='hot-reads-list'>
    <% @reads.each do |read| %>
      <li>
        <h3 align ><%= read.url %></h3>
      </li>
    <% end %>
  </ol>
</div>
