<h1 align='center'>Hot Reads</h1>
<h5 align='center'>Top to Bottom from Hot to Cold</h5>
<div align='center'>
  <iframe src="https://giphy.com/embed/eo9930rU7tZAc" width="480" height="203" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
  <div class='hot-reads-list'>
    <% @reads.each do |read| %>
      <h3 align='center'><%= read[0] %></h3>
    <% end %>
  </div>
